body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  /* Basic layout */
  header, section, footer {
    padding: 20px;
  }
  
  /* Header */
  header {
    background: rgb(36,0,18);
    background: radial-gradient(circle, rgba(36,0,18,1) 0%, rgba(121,9,96,1) 59%, rgba(255,0,249,1) 100%);
    color: #fff;
    text-align: center;
  }
  
  header h1 {
    font-size: 7rem;
    margin-bottom: 10px;
    font-family: Sacramento;
    text-shadow: #ccc;
    text-decoration-color: aliceblue;
    text-decoration: underline;
  }
  .Royce{
    border-radius: 150px;
  }
  
  header p {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  /* About Me */
  #about {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px 0;
  }
  
  /* Skills */

  
 .Img{
    height:200px;
    width: 250px;
 }
  
  /* Projects */
  #projects .project {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
  }
  
  #projects img {
    width: 300px;
    height:250px;
  }
  
  /* Contact */
  #contact form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #contact label {
    font-weight: bold;
  }
  
  #contact input,
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contact button {
    background-color: #37474F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Social Links */
  .social-links a {
    color: #37474F;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Hover Effects */
  a:hover {
    text-decoration: underline;
  }
  
  .project:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .container{
    display:flex;
    gap:20px;
  
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    #skills ul {
      flex-direction: column;
    }
  
    #skills li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    #projects .project {
      flex-direction: column;
      align-items: center;
    }
  }
  